<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body> 
    
    <div class="wrapper">
        <div class="table">
            <ul class="row row-header">
                <li class="grid-item">Serial</li>
                <li class="grid-item">Title</li>
                <li class="grid-item">Content</li>
                <li class="grid-item">Description</li>
                <li class="grid-item">Time</li>
                <li class="grid-item">Actions</li>
            </ul>

            <div class="grid-container list-rows">
                {% for plan in plans %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul class="row">
                        <li class="grid-item"></li>
                        <li class="grid-item"><input type="text" name="planTitle"  value="{{plan.plan_title}}" {% if plan.pk != id %}readonly {% endif %}></li>
                        <li class="grid-item"><input type="text" name="planContent" value="{{plan.plan_content}}" {% if plan.pk != id %}readonly {% endif %}></li>
                        <li class="grid-item"><input type="text" name="planDescription"  value="{{plan.plan_desc}}" {% if plan.pk != id %}readonly {% endif %}></li>
                        <li class="grid-item"><input type="text" name="planTime"  value="{{plan.plan_time}}" {% if plan.pk != id %}readonly {% endif %}></li>
                        <li class="grid-item">
                            <div class="act-list">
                                {% if plan.pk != id %}
                                <a href="/plans/edit/{{plan.id}}" class="act-btn btn-edit">Edit</a> 
                                <a href="/plans/delete/{{plan.id}}" class="act-btn btn-delete">Delete</a> 
                                
                                {% else %}
                                <button class="act-btn btn-save ">Save</button> 
                                <button class="act-btn btn-ccl ">Cancel</button> 
                                {% endif %}
                                
                            </div>
                        </li>
                    </ul>
                </form>
                {% endfor %}

                  
            </div>
        </div>

        <section class="section-btn">
            <!-- <div class="btn btn-update">Update</div> -->
            <form method="POST">
                {% csrf_token %}
                    <input type="text"  name="planTitle"  value="" style="display: none;">
                    <input type="text"  name="planContent" value="" style="display: none;" >
                    <input type="text"  name="planDescription" value=""  style="display: none;" >
                    <input type="text"  name="planTime" value=""  style="display: none;">
                <button class="btn btn-add display-none"><i class="fa-solid fa-floppy-disk"></i> Add</button>
            </form>
                
            <button  class="btn btn-cancel display-none"><i class="fa-solid fa-xmark"></i> Cancel</button>
            
            <button  class="btn btn-create"><i class="fa-solid fa-plus"></i> Create</button>

            <form method="GET">
                <button class="btn btn-update"><i class="fa-solid fa-arrows-rotate"></i> Update</button>
            </form>
        </section>
    </div>
</body>


<script src="{% static 'main.js' %}"></script> 
</html>